* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.link {
    text-decoration: none;
    text-transform: uppercase;
}

.logo {
    font-family: Revalia, serif;
    font-size: 48px;
    line-height: 60px;
    color: #34547A;
    margin-top: -22px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 512px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
}

.container {
    max-width: 1125px;
    width: 100%;
    margin: auto;
}

.block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    margin-top: 72px;
}

.nav__link {
    color: #000000;
}

.hero {
    background: #eeeff1;
    padding-top: 250px;
    padding-bottom: 153px;
    margin-top: -110px;
}

.hero__img {
    margin-left: 85px;
}

.info__block {
    max-width: 540px;
    width: 100%;
}

.hero__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 79px;
    color: #000000;
    margin-bottom: 60px;
}

.info__desc {
    line-height: 26px;
    color: #727272;
}

.button {
    margin-top: 60px;
    font-size: 16px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 25px 41px;
    background: #34547A;
    cursor: pointer;
    border: none;
    outline: none;
}

.section__about {
    padding-top: 112px;
    padding-bottom: 100px;
}

.hero__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section__title {
    margin-bottom: 50px;
}

.section__desc {
    text-align: center;
}

.section__projects {
    padding-top: 100px;
    padding-bottom: 100px;
    background: #34547A;
}

.text__block {
    margin-left: 20px;
    color: #FFFFFF;
}

.block__title {
    font-size: 21px;
    line-height: 25px;
}

.block__desc {
    line-height: 26px;
}

.section__skills {
    margin-top: 102px;
}

.skills__title {
    font-size: 32px;
    line-height: 37px;
}

.skills__desc {
    margin-top: 50px;
}

.skills__line {
    margin-top: 20px;
    border: 1px solid #34547A;
    ;
    width: 349px;
}

.skills__img {
    width: 555px;
    margin-bottom: 101px;
}